*, *:before, *:after {
  box-sizing: inherit;
  position: relative;
}
ui-view {
  position: relative;
}

a:visited {
  color: #039BE5;
}
body {
  overflow: hidden;
}
#back-canvas {
  visibility: hidden;
}
svg {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}
